@import './variables.scss';

.videoContent {
    grid-column: 1 / 3;
    display: grid;  
    grid-template-columns: 1fr 1fr;
    .preview-item-phrase {
        padding-right: 20px;
    }
    .preview-item-fav {
        padding-right: 30px;
    }
}

.users-preview {
    display: grid;  
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    .users-preview-item {
        min-height: 240px;
        padding: 20px;
        border: 1px solid rgba(163, 163, 163, 0.404);
        box-shadow: 0 5px 5px rgba(163, 163, 163, 0.4);
        .preview-item-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
            margin-top: 10px;
            img {
                width: 50px;
                height: 50px;   
            }
            .preview-item-name {
                margin-left: 20px;
            }
            .preview-item-fav {
                flex: 3;
                text-align: right;
                margin: auto 0;
                cursor: pointer;
                i {
                    color: $brandColor
                }
            }
        }
        .preview-item-age {
            margin-top: 30px;
            margin-left: 6px;
            margin-bottom: 20px;
        }
        .preview-item-phone, .preview-item-phrase {
            margin-left: 6px;
        }
        .preview-item-phone {
            margin-bottom: 20px;
            i {
                margin-right: 5px;
            }
        }
        .previrew-item-video {
        }
text-align: left;
    }
}