.users-list {
    display: flex;  
    flex-direction: column; 
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 10px 5px rgba(163, 163, 163, 0.6);
    .users-list-item {
        display: flex;  
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border: 1px solid rgba(163, 163, 163, 0.404);
        img {
            width: 50px;
            height: 50px;            
        }
        .item-icon, .item-name, .item-phone,  .item-fav{
            flex: 1;
        }
        .item-age {
            flex: 3
        }

    }
}