@import './variables.scss';

.users-table {
    box-shadow: 0 10px 5px rgba(163, 163, 163, 0.6);
    .users-table-item {
        display: flex;  
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border: 1px solid rgba(163, 163, 163, 0.404);
        .table-item-id {
            width: 25px;
            height: 25px;
            font-size: 13px;
            color: $brandColor;
            border: 2px solid $brandColor;
            border-radius: 50%;
            text-align: center;
            line-height: 25px;
            margin-left: 5px;
        }
        img {
            width: 50px;
            height: 50px;            
        }
        .table-item-icon, .table-item-name, .table-item-phone,  .table-item-fav{
            flex: 1;
        }
        .table-item-age {
            flex: 1;
            text-align: center;
        }
        .table-item-fav {
            text-align: right;
            margin-right: 10px;
            cursor: pointer;
            i {              
                color: $brandColor;
            }
        }

    }
}
