@import './variables.scss';

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 180px;
  .header-left {
    margin: auto 0;
    text-align: left;
    .sort {
    }
    .sort-reverse {

    }
    .sort-button {
      cursor: pointer;
    }  
    .active {
      color: $main-light;
      background-color: $brandColor;
    }
    .direction {
      cursor: pointer;
      &:disabled {
        cursor: default;
        background-color: #333;
        }
    }
    .filter {
      .filter-input {
        margin-left: 10px;
      } 
    }
  }
  .header-right {
    margin: auto 0;
    text-align: right;
    .nav {
      .checked {
         .box {
          background-color: $brandColor;
          span {
            color: white;
            transform: translateY(30px);
            &:before {
              transform: translateY(0px);
              opacity: 1;
            }
          }
        }
      }
      .box {
        width: 110px;
        height: 100px;
        background-color: $main-light;
        border: 1px solid $brandColor;
        transition: all 250ms ease;
        will-change: transition;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        position: relative;
        font-weight: 600;
        &:active{
          transform: translateY(10px);
        }
        span {
          position: absolute;
          transform: translate(0, 20px);
          left: 0;
          right: 0;
          transition: all 300ms ease;
          font-size: 1.2em;
          user-select: none;
          color: $brandColor;
          &:before {
            font-size: 1em;
            font-family: FontAwesome;
            display: block;
            transform: translateY(-80px);
            opacity: 0;
            transition: all 300ms ease-in-out;
            font-weight: normal;
            color: white;
          }
        }
      }
      .nav-item-table {
        span {
          &:before {
            content: '\f0c9';
          }
        }
      }
      .nav-item-preview {
        span {
          &:before {
            content: '\f0ce';
          }
        }
      }
    }
  }
}