@import url('https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
@import './variables.scss';

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #333;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

.btn {
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid $brandColorDark;
    cursor: pointer;

    &:focus,
    &:active {
        outline: none;
    }

    &--light {
        color: $brandColorDark;
        background-color: $brandColorLight;
        transition: all 0.2s linear;

        &:hover {
            color: $brandColorLight;
            background-color: $brandColorDark;
        }
    }

    &--dark {
        color: $brandColorLight;
        background-color: $brandColorDark;
        transition: all 0.2s linear;

        &:hover {
            color: $brandColorDark;
            background-color: $brandColorLight;
        }
    }
}
